*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    transform: perspective(2000px) rotatez(20deg);
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    box-shadow: inset -10px 0 20px rgba(0,0,0,0.2);
}

.cardContent{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 0 10px 10px 0;
    display: none;
}

.card:hover, .card.opened{
    transform: perspective(2000px) rotatez(0deg) scale(.75) translateX(25vw);
    width: 50vw;
    height: 100vh;
    border-radius: 10;
}

.card:hover .cover, .card.opened .cover{
    border-radius: 0 10px 10px 0;
    transform: rotateY(-180deg);
    box-shadow: -20px 0 40px rgba(0,0,0,0.4);

}

.card:hover .cardContent, .card.opened .cardContent{
    width: 100%;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    background:
      linear-gradient(
        to bottom,
        rgba(255,255,255,1) 0%,
        rgba(245,245,245,1) 15%,
        rgba(230,230,230,1) 85%,
        rgba(210,210,210,1) 100%
      );
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px;
    /* text-align: center; */
}