@import "tailwindcss";

@theme {
  --color-black: #000000; 
  --color-dark-red: #220B0D; 
  --color-medium-dark-red: #45171C; 
  --color-medium-light-red: #6A232B; 
  --color-light-red: #8F2F3A; 

  --color-off-white: #D5D5D5; 
}